$animation: all ease-in-out;
$main-font: 'Nunito Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$main-color: #004f81;
$text-color: #4d4d4d;
$light-color: #fff;
$second-text-color: #1a1a1a;
$bg-color: #11334b;
$border-color: #938979;
$orange-color: #ea6f23;
$main-border: 1px solid $border-color;

// responsiveness
$W1440: max-width 1440px;
$W1366: max-width 1366px; 
$W1200: max-width 1200px;
$W1024: max-width 1024px;
$MW1440: min-width 1439px;
$MW1366: min-width 1365px;
$MW1200: min-width 1199px;
$MW1024: min-width 1023px;
$MW768: min-width 769px;
$MW576: min-width 577px;
$W980: max-width 980px;
$W920: max-width 920px;
$W900: max-width 900px;
$W860: max-width 860px;
$W768: max-width 768px;
$W480: max-width 480px;
$W576: max-width 575px;
$W425: max-width 425px;
$W400: max-width 400px;
$W360: max-width 360px;
 